@font-face {
  font-family: Helvetica;
  src: 'Helvetica';
}
.button {
  --border-color: transparent;
  color: #ffffff;
  background-color: #4262FF;
  border-radius: 30px;
  text-decoration: none;
  border: 1px solid var(--border-color);
  font-size: 16px;
  padding: 17px 22px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
}
.button--outline {
  --border-color: blue;
  background: transparent;
}
.button:hover {
  opacity: 50%;
  transition: 0.3s all;
}
.image-wrapper {
  object-fit: contain;
}
.header {
  display: flex;
  justify-content: space-between;
  height: 90px;
  padding: 0 30px;
  max-width: 100%;
  font-family: 'Helvetica';
  border-bottom: 1px solid rgba(0, 0, 0, 0.116);
}
.header__menu {
  display: flex;
  gap: 28px;
  align-items: center;
}
.header__menu-links {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-top: 3px;
}
.header__logo {
  margin-top: -7px;
}
.header__link {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 12px;
  font-size: 16px;
}
.header__right {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  align-items: center;
  font-family: "Helvetica";
}
.header__right-links {
  display: flex;
  gap: 17px;
  align-items: center;
}
.header__header__link-image {
  height: 24px;
  width: 24px;
}
.intro {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1120px;
  margin: auto;
  padding: 60px 0;
  gap: 40px;
}
.intro__right {
  padding: 0 29px;
}
@media (max-width: 1118px) {
  .intro {
    justify-content: center;
  }
}
.sign {
  font-family: 'Helvetica';
  max-width: 440px;
}
.sign__header {
  font-size: 48px;
  font-weight: 600;
  padding-bottom: 16px;
  line-height: 56px;
  letter-spacing: -0.1px;
}
.sign__description {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 30px;
}
.sign__input {
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
  font-size: 19px;
  padding: 11.5px 0 14.5px 22px;
  border-radius: 30px;
  margin-bottom: 10px;
  border: 1px solid #000000;
}
.sign__button {
  font-size: 18px;
  padding: 12px 0 17px;
  max-width: 100%;
  width: 100%;
  margin-bottom: 8px;
}
.sign__label {
  font-size: 14px;
  opacity: 50%;
  margin-bottom: 45px;
}
.sign__footer {
  display: flex;
  padding: 14px;
  border-radius: 5px;
  background-color: #f5f5f7;
}
.reviews {
  font-family: 'Helvetica';
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.reviews__stars {
  display: flex;
  gap: 6px;
}
.reviews__text {
  font-size: 11px;
}
.sponsors {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 14px;
  width: 185px;
}
.partners {
  max-width: 1120px;
  margin: auto;
  padding: 64px 0;
  font-family: 'Helvetica';
}
.partners__header {
  text-align: center;
}
.partners__header-text {
  font-size: 19.4px;
  line-height: 24px;
  opacity: 50%;
}
.partners__list {
  display: flex;
  justify-content: space-evenly;
  padding-top: 48px;
}
